.places {
    width: 76%;
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 1279px) {
    .places {
        width: 90%;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin-top: 64px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
    }
}