.lead {
    width: 76.8%;
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: 90.6%;
    }  
}

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
    }
}