.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    width: 92.5%;
    max-width: 1184px;
    min-height: 52px;
    padding-top: 28px;
}

@media screen and (max-width: 1279px) {
    .header {
        width: 90.6%;
    }
    
}

@media screen and (max-width: 1023px) {
    .header {
        width: 93.7%;
    }
    
}

@media screen and (max-width: 767px) {
    .header {
        width: 90%;
        min-height: 42px;
        padding-top: 16px;
    }
    
}
