.place__paragraph_place_top {
   margin-bottom: 26px;
  
}

@media screen and (max-width: 1279px) {
    .place__paragraph_place_top {
        margin-bottom: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph_place_top {
        margin-bottom: 25px;
    }
}