.lead__subtitle {
    max-width: 640px;
    text-align: center;
    margin: 32px auto 64px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
    
}

@media screen and (max-width: 435px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        max-width: 288px;
        font-size: 16px;
    }
    
}